<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>哈沐科技 - 专注AI 短剧出海</title>
  <meta name="description" content="哈沐科技 - 专注于人工智能技术，推动短剧去字幕、提取字幕和智能剪辑。">
  <meta name="keywords" content="AI短剧, AI去字幕, AI提取字幕, AI剪辑, 短剧出海, AI视频处理, 视频创作者工具, 人工智能, 短剧处理工具">

  <!-- Favicons -->
  <link href="https://oss.hamuai.net/oss/assets/img/favicon.ico" rel="icon">
  <link href="https://oss.hamuai.net/oss/assets/img/favicon.ico" rel="apple-touch-icon">

  <!-- Vendor CSS Files -->
  <link href="https://oss.hamuai.net/oss/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://oss.hamuai.net/oss/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="https://oss.hamuai.net/oss/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="https://oss.hamuai.net/oss/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="https://oss.hamuai.net/oss/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="https://oss.hamuai.net/oss/assets/css/main.css" rel="stylesheet">

  <!-- HAMU: Upload - Code by Joenix -->
  <script src="https://oss.hamuai.net/oss/cos-js-sdk-v5.min.js"></script>
  <script type="module" src="scripts/cos.js" defer></script>

  <!-- HAMU: QRCode -->
  <script src="scripts/qrcode.min.js"></script>

  <!-- HAMU: Vue - Cody by Joenix -->
  <script src="https://oss.hamuai.net/oss/vue2.min.js"></script>
  <script src="scripts/vue.js" defer></script>
</head>

<body class="index-page">
  <div id="app">
    <div class="mission-qr" v-if="qrvisible">
      <div id="qrcode"></div>
    </div>

    <!-- ★★★★★★★★★★ ★★★★★ HAMU: DEMO ★★★★★ ★★★★★★★★★★ -->
    <div class="demo" style="display: block;">
      <h1>扫码功能：</h1>
      <img alt="微信扫码登录" :src="qrImage" />

      <br />

      <h1>上传功能：</h1>
      <input type="file" accept=".mp4, image/*" id="fileInput" @change="choosen" />
      <button @click="uploader" v-if="file" :disabled="disable">Uploader 2 COS</button>

      <h1>文件列表：</h1>
      <ul v-if="list.length">
        <li v-for="file in list" :key="file.Key">
          <a target="_blank" :href="`https://oss.hamuai.net/${file.Key}`">{{ file.Key }}</a>
        </li>
      </ul>

      <h1>任务中心：</h1>
      <br />
      <br />
      <div class="mission" :class="{ mode }">
        <div class="mission-mode">
          <span :class="{ active: !mode }" @click="mode = false">
            <i class="bi bi-ui-checks-grid"></i>
          </span>
          <span :class="{ active: mode }" @click="mode = true">
            <i class="bi bi-ui-radios"></i>
          </span>
        </div>
        <div class="mission-batch">
          <button type="button" class="button" :disabled="!batching.length" @click="batchdownload">
            <i class="bi-download"></i>
            批量下载
          </button>
        </div>

        <div class="mission-item" v-for="item, index in list" :key="item.Key">
          <input class="mission-choose form-check-input" :id="`choose_${index}`" type="checkbox"
            @change="(e) => choose(e, index)">
          <div class="mission-cover" :style="{backgroundImage: `url(https://oss.hamuai.net/${item.Key})`}"></div>
          <div class="mission-operate">
            <span v-if="mode">{{ item.Key }}</span>
            <span>{{ item.LastModified }}</span>
            <a class="button" href="javascript:;" @click="() => download(item)">下载</a>
          </div>
        </div>
      </div>
    </div>
    <!-- ★★★★★★★★★★ ★★★★★ HAMU: DEMO ★★★★★ ★★★★★★★★★★ -->

    <header id="header" class="header d-flex align-items-center fixed-top">
      <div class="container-fluid container-xl position-relative d-flex align-items-center">

        <a href="index.html" class="logo d-flex align-items-center me-auto">
          <img src="https://oss.hamuai.net/oss/assets/img/logo.png" alt="">
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li v-for="des, key in navigator">
              <a :class="{active: navActive(key)}" :href="`${key}.html`">{{des}}</a>
            </li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <a class="btn-getstarted" href="javascript:;" @click="qrvisible = true">扫码登录</a>

      </div>
    </header>

    <main class="main">

      <!-- Hero Section -->
      <section id="hero" class="hero section">
        <div class="hero-bg">
          <img src="https://oss.hamuai.net/oss/assets/img/hero-bg-light.webp" alt="">
        </div>
        <div class="container text-center">
          <div class="d-flex flex-column justify-content-center align-items-center">
            <h1 data-aos="fade-up">尖端 AI 助力您的 <span>短剧出海事业</span> 杨帆提速</h1>
            <p data-aos="fade-up" data-aos-delay="100">不同的AI系统与您在前中后期携手同行<br>
            </p>
            <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
              <a href="#about" class="btn-get-started">开始使用</a>
            </div>
          </div>
        </div>

      </section><!-- /Hero Section -->


      <div class="container copyright text-center mt-4">
        <p>©<span>Copyright</span> <strong class="px-1 sitename">hamuai.net</strong><span>All Rights Reserved</span>
        </p>
        <div class="credits">
          沪ICP备2024071549号
        </div>
      </div>

      </footer>

      <!-- Scroll Top -->
      <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
          class="bi bi-arrow-up-short"></i></a>

      <!-- Preloader -->
      <div id="preloader" v-if="preloader"></div>
  </div>

  <!-- Vendor JS Files -->
  <script src="https://oss.hamuai.net/oss/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://oss.hamuai.net/oss/assets/vendor/php-email-form/validate.js"></script>
  <script src="https://oss.hamuai.net/oss/assets/vendor/aos/aos.js"></script>
  <script src="https://oss.hamuai.net/oss/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="https://oss.hamuai.net/oss/assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="https://oss.hamuai.net/oss/assets/js/main.js"></script>
</body>

</html>